.game-screen {
  display: none;
  max-width: 350px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
  height: 85vh;

}

.show-game {
  display: flex;
}

.hangman {
  /* filter: invert(1); */
  width: 90%;
  margin: 0 auto;
  padding-top: 0.5em;

}
.hangman-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color:rgba(255, 255, 255, 0.04); */
  /* margin-top: 2em; */
  margin-left: 2em;
  margin-right: 2em;
  /* padding-top: 3em; */
  /* padding-bottom: 3em; */
  /* align-items:center; */
  border-radius: 6px;
  text-align: center;
  /* margin-bottom: 0; */
}

.user-score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2em;
  padding-top: 2em;
}

#the-word {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5em;
}
.hide-word {
  margin: 0;
  width: 2em;
  border-bottom: 1px solid #f7ebec;
  color: transparent;
}
.show-word {
  color: #f7ebec;
}

#keyboard {
  display: grid;
  grid-template-columns: repeat(11, auto);
  grid-template-rows: repeat(3, auto); /* Added grid-template-rows property */
  grid-gap: 3px;
  /* margin-top: 3em; */
  padding: 0.4em;
  border-radius: 6px;
  padding-top: 2em
}

.key {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: #3d348b;
  background-color: #f7ebec;
  padding: 0.4em 0;
}
.key-disable-right {
  background-color: #68edc6;
  color: #f7ebec;
  border-color: #68edc6;
}
.key-disable-wrong {
  background-color: #ec0868;
  color: #f7ebec;
  border-color: #ec0868;
}

.key:nth-child(23) {
  grid-row: 3;
  grid-column: 3;
}
.key:nth-child(24) {
  grid-row: 3;
  grid-column: 4;
}
.key:nth-child(25) {
  grid-row: 3;
  grid-column: 5;
}
.key:nth-child(26) {
  grid-row: 3;
  grid-column: 6;
}
.key:nth-child(27) {
  grid-row: 3;
  grid-column: 7;
}
.key:nth-child(28) {
  grid-row: 3;
  grid-column: 8;
}
.key:nth-child(29) {
  grid-row: 3;
  grid-column: 9;
}

.menu {
  padding: 0 2em;
  display: none;
  flex-direction: row;
  justify-content: space-around;
  /* margin-top: 3em; */
  /* margin-bottom: 1em; */
  max-width: 300px;
  margin: 0 auto;
  padding-bottom: 0.8em;

}

.menu img {
  width: 3.2em;
  height: 3.2em;
  /* filter: invert(1); */
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2em;
}

/* Loosing page */
.game-over-screen,
.winner-screen {
  display: none;
  flex-direction: column;

}

.game-over-text-container,
.winner-text-container {
  text-align: center;
  max-width: 350px;
  margin: 0 auto;
  /* margin-bottom: 4em; */
}

/* .game-over-screen h1,
.winner-screen h1 {
  margin-bottom: 0.5em;
} */

.game-over-screen p,
.winner-screen p {
  padding: 0.3em;
  font-size: 1.1em;
}

.top-hangman img {
  width: 60px;
  height: 100px;
}

.top-list-container {
  display: none;
  padding: 2em 1em;
  max-width: 500px;
  margin: 0 auto;
  height: 700px;
  padding-top: 0;
}

.high-score {
  /* padding-top: 2em; */
  /* max-height: 400px;  */
    overflow-y: auto;
    box-sizing: border-box;
    padding: 2em 0.2em;
    width: 320px;
   
}

.ordered-top-list > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ordered-top-list > li > span:first-child {
  /* flex-grow: 1; */
  text-align: left;
  margin-left: 0;
}

.ordered-top-list > li span:last-child {
  width: 7.5em;
}

.user-information span:last-child {
  width: 7.5em;
}


.width {
  width: 2em;
  /* margin-left: 0.5em; */
  text-align: right;
  margin-bottom: 0.4em;
}

.user-information button {
  font-weight: 600;
  background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    box-shadow: none;
    text-decoration: none;
    color:#f7ebec;
    font-size: 1em;

}
.bold {
  font-weight: 600;
  /* font-size: 1.1em; */
}

p.user-information.bold {
  padding-top: 2em;
}

.width img {
  width: 1em;
}

.user-information {
  display: flex;
  justify-content: space-between;
}

.user-information > span:first-child {
  /* flex-grow: 1; */
}

/* Winner section */
.winner-img-section img {
  height: 450px;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  /* margin-top: 1.6em; */
}

.winner-img-section {
  display: flex;
  justify-content: center;

}

#tillbaka-btn {
  background-color:transparent;
  border:none;
  color:#f7ebec;
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  transition: transform 0.3s;

}

#tillbaka-btn img {
  /* filter: invert(100%); */
  width: 3.2em;
}
#tillbaka-btn img:hover {
  transform: scale(1.4);
  cursor: pointer;


}


.back-top-container {
  display: flex;
  flex-direction: row;
  margin-top: 0;
}

.back-top-container > img {
justify-content: flex-end;
}

.back-top-container h1 {
  text-align: center;
}

