.game-screen {
  display: none;
  max-width: 350px;
  margin: 0 auto;

}

.show-game {
  display: block;
}

.hangman {
  /* filter: invert(1); */
  width: 90%;
}
.hangman-section {
  display: flex;
  flex-direction: column;
  /* background-color:rgba(255, 255, 255, 0.04); */
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  padding: 3em 0em 0em 0em;
  /* padding-top: 3em; */
  /* padding-bottom: 3em; */
  /* align-items:center; */
  border-radius: 6px;
  text-align: center;
  /* margin-bottom: 0; */
}

.user-score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2em;
  padding-top: 2em;
}

#the-word {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5em;
}
.hide-word {
  margin: 0;
  width: 2em;
  border-bottom: 1px solid #f7ebec;
  color: transparent;
}
.show-word {
  color: #f7ebec;
}

#keyboard {
  display: grid;
  grid-template-columns: repeat(11, auto);
  grid-template-rows: repeat(3, auto); /* Added grid-template-rows property */
  grid-gap: 3px;
  /* margin-top: 3em; */
  padding: 0.4em;
  border-radius: 6px;
  margin: 2em 2em;
}

.key {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: #3d348b;
  background-color: #f7ebec;
  padding: 0.4em 0;
}
.key-disable-right {
  background-color: #35ff69;
  color: #f7ebec;
  border-color: #35ff69;
}
.key-disable-wrong {
  background-color: #c33149;
  color: #f7ebec;
  border-color: #c33149;
}

.key:nth-child(23) {
  grid-row: 3;
  grid-column: 3;
}
.key:nth-child(24) {
  grid-row: 3;
  grid-column: 4;
}
.key:nth-child(25) {
  grid-row: 3;
  grid-column: 5;
}
.key:nth-child(26) {
  grid-row: 3;
  grid-column: 6;
}
.key:nth-child(27) {
  grid-row: 3;
  grid-column: 7;
}
.key:nth-child(28) {
  grid-row: 3;
  grid-column: 8;
}
.key:nth-child(29) {
  grid-row: 3;
  grid-column: 9;
}

.menu {
  padding: 0 2em;
  display: none;
  flex-direction: row;
  justify-content: space-around;
  /* margin-top: 3em; */
  margin-bottom: 1em;
  max-width: 300px;
  margin: 0 auto;

}

.menu img {
  width: 3.2em;
  height: 3.2em;
  /* filter: invert(1); */
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2em;
}

/* Loosing page */
.game-over-screen,
.winner-screen {
  display: none;
  flex-direction: column;

}

.game-over-text-container,
.winner-text-container {
  text-align: center;
  margin-bottom: 4em;
}

.game-over-screen h1,
.winner-screen h1 {
  margin-bottom: 0.5em;
}

.game-over-screen p,
.winner-screen p {
  padding: 0.3em;
  font-size: 1.1em;
}

.top-hangman img {
  width: 60px;
  height: 100px;
}

.top-list-container {
  display: none;
  padding: 2em 1em;
  max-width: 500px;
  margin: 0 auto;
  height: 700px;

}

.high-score {
  padding-top: 2em;
}

.ordered-top-list > li {
  display: flex;
  flex-direction: row;
}

.ordered-top-list > li > span:first-child {
  flex-grow: 1;
  text-align: left;
  margin-left: 0;
}

.ordered-top-list > li span:last-child {
  width: 7.5em;
}

.user-information span:last-child {
  width: 7.5em;
}


.width {
  width: 2em;
  margin-left: 1em;
  text-align: right;
  margin-bottom: 0.4em;
}

.bold {
  font-weight: 600;
  /* font-size: 1.1em; */
}

.width img {
  width: 1em;
}

.user-information {
  display: flex;
}

.user-information > span:first-child {
  flex-grow: 1;
}

/* Winner section */
.winner-img-section img {
  height: 500px;
  margin-bottom: 2em;
  padding-top: 2em;
  margin-top: 1.6em;
}

.winner-img-section {
  display: flex;
  justify-content: center;
}