/* @media only screen and (min-width: 400px) and (max-width: 600px) {
    .hangman-section {
        padding: 0em;
      }
} */




/* Media query for screens larger than 901 pixels */
@media only screen and (min-width: 601px) {
    /* FP / Body / Resets / Fonts etc */
    body {
        background-color: #2b4162;
        background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
        
    }
        main {
        max-width: 600px;
        background-color: #3D348B;
        margin: 0 auto;
        border-radius: 6px;
        margin-top: 1em;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        height: 95vh;
      }
    
    /* Selection screen */
    .selection-page {
        background-image: url(img/robo-about-page.png);
        background-position-y: -230px;
        background-position-x: -130px; 
        background-size: 95%; 
        background-repeat: no-repeat;
  
    }

    .selection-page label {
        padding-bottom: 1em;
        padding-top: 14em;
    }
    .selection-page input {
        max-width: 300px;
        margin: 0 auto;
      }
    
      
      .selection-page-text {
        padding-top: 0.8em;
        max-width: 500px;
        margin: 0 auto;
        display: flex;
        padding-left: 0;
        padding-right: 0;
      }

      .selection-page-text p {
        padding: 0 1em;
        
      }
   

    /* GAME SCREEN/ WINNING/ LOOSING/ TOPLIST PAGE */
  #keyboard {
    margin: 0.5em 0em 1em 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }


  .hangman {
    width: 50%;
    margin: 0 auto;
  }
  .hangman-section {
    padding: 1em 2em 0em 2em;
  }
  .menu {
    padding: 0.5em 2em;
    margin: 0 auto;
  }
  .menu img {
    width: 2.5em;
    height: 2.5em;
  }

  .game-screen {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  
  }

  .user-score {
    padding-left: 3.5em;
    padding-right: 3.5em;
  }

  .game-over-screen,
    .winner-screen {
  display: none;
  flex-direction: column;
}

.winner-img-section img {
    margin-bottom:  0;
}

.game-over-text-container,
.winner-text-container {
  margin-bottom: 1em;
}
.hangman-gif {
  margin-bottom: 1em;;
}

.winner-img-section img {
  padding-top: 1em;
}

.top-list-container {
    height: 40px;
    width: 600px;
}

}


