.hide {
  display: none;
}

.selection-page {
  display: flex;
  flex-direction: column;
  /* background-color:rgba(255, 255, 255, 0.0); */
  padding-left: 3em;
  padding-right: 3em;
  /* padding-top: 5em; */
  /* padding-bottom: 5em; */
  /* align-items:center; */
  border-radius: 6px;
  justify-content: center;
  text-align: center;
  display: none;
  /* background-image: url(img/robo-about-page.png);
   background-position-y: -200px;
  background-position-x: -180px; 
  background-size: 130%;  */
  background-repeat: no-repeat;

  /* height: 100vh; */
}

label {
  font-size: 1.6em;
  padding-top: 8em;
}

.selection-page-text {
	padding-top: 0.8em;
	/* background-color: rgba(255, 255, 255, 0.1); */
	border-radius: 6px;
}
.selection-page h2 {
	padding-top: 1em;
}

.selection-page h2 {
	margin-bottom: 0;
	font-weight: 700;
}

.selection-page input {
  max-width: 35em;
  margin-top: 1em;
  border-radius: 6px;
  border: 2px solid#F7EBEC;
  background-color: #f7ebec;
  padding: 0.5em;
  color:#3d348b ;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
  font-size: 1.1em;
  
}

.level-btn > button {
  padding: 0.9em;
  font-size: 0.8em;
  height: 1em;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 6px;
  border: 1px solid #f7ebec;
  cursor: pointer;
  color: #f7ebec;
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 1.1em;
}

.level-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1.5em;
}

.level-btn button {
	margin: 0.2em;
}

.level-btn > button:hover {
  color: #f7ebec;
  background: linear-gradient(#68edc6, #31c89b);
  transition: 0.1s;
  border-color: #68edc6;
}

.show {
  display: flex;
}

.menu-item-high {
  background-color: transparent;
  border: none;
  padding: 0;
  color: #f7ebec;
  cursor: pointer;
}

.menu-item-style {
  background-color: transparent;
  border: none;
  padding: 0;
  color: #f7ebec;
  cursor: pointer;
  /* overflow: hidden; */
  transition: transform 0.3s;
}

.menu-item-style:hover img, .menu-item-style.active img {
  transform: scale(1.4);
}